@page
@model WebApplication1.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}


<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h3>@Model.Message</h3>

    <p>Hello ENSAJ 2021-2022</p>
</div>

